.login {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  width: 50%;
}


.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.congratulations-message{
  background-color: #67AE6E;
  color: white;
  padding: 15px 25px;
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: center;
  max-width: 80%;
}

.login-form label {
  font-size: 0.9rem;
  color: #495057;
}

.login-username {
  padding: 0.8rem 1rem;
  border: 2px solid #e9ecef;
  border-radius: 6px;
  font-size: 1rem;
}

.login-username:focus {
  border-color: #3D90D7;
}

.login-button {
  background-color: #3D90D7;
  color: white;
  border: none;
  padding: 0.8rem;
  border-radius: 6px;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.login-button:hover {
  background-color: #2a7cbb;
}

